<div class="container">

    <header class="header"></header>

    <main>
        <article>
            <h1>Üdvözlünk, {{user.username}}!</h1>
            <mat-icon class="logout" (click)="logout()" routerLink="/kezdolap" title="kijelentkezés">logout</mat-icon>
            <p class="wrong-format" id="wrong-format">Nem megfelelő fájlkiterjesztés!</p>
            <div class="data">
                <div class="image-div">
                    <div>
                        <img class="profile-pic" [src]="profilePic" alt="" draggable="false">
                        <button class="edit" (click)="inputImage.click()" title="szerkesztés"><mat-icon>edit</mat-icon></button>
                    </div>
                    <button class="upload-img" (click)="reloadPage()" title="frissítés"><mat-icon>refresh</mat-icon></button>
                </div>
                <div>
                    <p class="username"><span>felhasználó:</span>{{user.username}}</p>
                    <p class="email"><span>email:</span>{{user.email}}</p>
                </div>
            </div>
            <input #inputImage type="file" hidden (change)="updateProfilePic($event)">
        </article>

        <article class="listing-container">
            <header class="listing-header">
                <h2>Listázás</h2>
                <select class="categories" (change)="selectList()">
                    <option class="category" value="none" selected>-</option>
                    <option class="category" value="megnezendo">Megnézendő</option>
                    <option class="category" value="tervezem">Tervezem</option>
                    <option class="category" value="gondolkozokRajta">Gondolkozok rajta</option>
                    <option class="category" value="megneztem">Megnéztem</option>
                    <option class="category" value="kedvenc">Kedvenc</option>
                </select>
            </header>
            <section class="anime-list">
                <app-anime-card class="single-anime" *ngFor="let anime of animes" [anime]="anime"></app-anime-card>
            </section>
        </article>
    </main>

</div>
