.header {
    height: 40vh;
    background: url("../../../assets/header_gojo_satoru.jpg") center -10vh no-repeat;
    background-size: cover;
}

main article:first-child {
    width: 1300px;
    margin: 5rem auto;
}

.listing-container {
    width: 80vw;
    margin-inline: auto;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.data {
    display: flex;
    gap: 5rem;
    font-size: 1.1rem;
}

.image-div > div { position: relative; }

.profile-pic {
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: center;
}

.logout, .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    padding-left: 5px;
    background: var(--orange);
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.logout {
    margin-bottom: 3rem;
}

.edit {
    border: none;
    position: absolute;
    bottom: -1rem;
    right: -1.5rem;
    padding-left: 3px;
}

.edit:hover {
    background: rgba(213, 88, 10, 0.7);
    backdrop-filter: blur(5px);
}

.upload-img {
    font-size: 1rem;
    display: block;
    border: none;
    background: #342b2b;
    padding: .75rem 2rem;
    margin-block: 1rem 2rem;
    margin-inline: auto;
    opacity: .3;
    pointer-events: none;
}

.wrong-format {
    color: var(--red);
    font-size: 1rem;
    display: none;
}

.upload-active:hover {
    background: var(--orange);
}

.upload-active {
    opacity: 1;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    pointer-events: initial;
}

.logout:hover {
    background: rgba(213, 88, 10, 0.5);
}

.listing-header {
    margin-block: 5rem 2rem;
    display: flex;
    justify-content: space-between;
}

.image-div + div span {
    display: inline-block;
    width: 120px;
    color: var(--gray);
    opacity: .7;
}

h2 {
    font-size: 1.5rem;
    padding-left: .8rem;
    border-left: .5rem solid var(--orange);
}

.categories {
    margin-left: auto;
    border: none;
    background: #342b2b;
    border-bottom: 1px solid var(--orange);
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    height: fit-content;
}


.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 10rem;
}


@media (max-width: calc(1300px / .9)) {
    main article {
        width: 90% !important;
    }
}


@media (max-width: 800px) {
    .header {
        background-position-y: initial;
    }
}

@media (max-width: 720px) {
    .data {
        flex-direction: column;
    }

    .image-div {
        margin-inline: auto;
    }
}

@media (max-width: 430px) {
    .image-div {
        width: 90%;
    }
    .profile-pic {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .listing-header {
        flex-direction: column;
        justify-content: initial;
    }

    .categories {
        margin-inline: auto;
    }
}

@media (max-width: 320px) {
    .edit {
        scale: .8;
        bottom: -1.5rem;
        right: -1rem;
    }

    .image-div + div span {
        width: 100px;
    }
}
