main {
    width: 1300px;
    margin: 5vh auto;
}

.roots {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: center;
}

.roots a {
    text-decoration: none;
}
.roots a:hover {
    color: var(--orange);
    text-decoration: underline var(--orange);
}

.roots mat-icon {
    transform: translateY(-2px);
}

.roots mat-icon:first-child {
    color: var(--orange);
}

    /* categories */
.categories-section {
    margin-top: 2rem;
    display: none;
}

.listing-respond {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--red);
    font-size: 1rem;
    display: none;
}

.categories {
    display: block;
    margin-left: auto;
    border: none;
    background: #342b2b;
    border-bottom: 1px solid var(--orange);
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}


    /* details section */
.details {
    display: flex;
    gap: 5rem;
    margin-block: 5rem;
}

.image {
    height: 420px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}

.title {
    font-size: 2rem;
    text-align: center;
    border-left: solid var(--orange);
    border-right: solid var(--orange);
    border-width: 1rem;
    padding-inline: .5rem;
}

.title-secondary, .introduction {
    color: var(--gray);
}

.introduction {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-block: 2rem;
}

.information {
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
}

.info {
    display: inline-block;
    width: 120px;
    color: var(--gray);
    opacity: .7;
}

.genre:not(:last-child)::after {
    content: ', ';
}


    /* episodes section */
h2 {
    font-size: 1.5rem;
    padding-left: .8rem;
    border-left: .5rem solid var(--orange);
    margin-bottom: 2rem;
}


.episodes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.single-episode {
    font-size: 1.1rem;
    text-decoration: none;
    padding-block: .75rem;
    width: 100px;
    text-align: center;
    background: #342b2b;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.single-episode:hover {
    background: var(--orange);
}


    /* related animes section */
.related-animes {
    margin-top: 5rem;
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


    /* responsive */
@media (max-width: calc(1300px / 0.9)) {
    main {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .details {
        flex-direction: column;
    }
    .image {
        display: block;
        margin-inline: auto;
    }
}

@media (max-width: calc(300px / 0.9)) {
    .image {
        width: 100%;
    }
}
