.header {
    height: 380px;
    background: url("../../../assets/header_chitanda_eru.jpg") no-repeat;
    background-size: cover;
    background-position-y: -5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: Kaushan Script, sans-serif;
    text-align: center;
    padding: 1.3rem;
    border-radius: 50px;
    background: rgba(33, 27, 27, 0.2);
    backdrop-filter: blur(10px);
    position: relative;
    left: 10vw;
}
.title::before { content: open-quote; }
.title::after { content: close-quote; }


main {
    width: 80vw;
    margin-top: 5vh;
    margin-inline: auto;
}

.search {
    color: var(--gray);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: .8rem;
    border-left: .5rem solid var(--orange);
}

.anime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.no-result {
    font-size: 2rem;
    color: firebrick;
    text-align: center;
    line-height: 2.2rem;
    width: fit-content;
    padding: 1rem;
    margin-top: 1rem;
    margin-inline: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 959px) {
    .header {
        background-position-y: initial;
    }
    .title {
        position: static;
    }
}

@media (max-width: 530px) {
    .header {
        background-position-x: -40vw;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 2rem;
        padding: 1rem;
        transform: translateY(5rem);
    }
}

@media (max-width: 380px) {
    .header {
        background-position-x: -70vw;
    }
}
