<mat-sidenav-container>
    <!-- mobil navbar -->
    <mat-sidenav #sidenav>
        <app-menu (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
    </mat-sidenav>
    <!-- mobil navbar vége -->
    <mat-sidenav-content>
        <mat-toolbar class="header" id="header">
            <!-- hamburger menu gomb mobilra -->
            <div fxHide.gt-sm>
                <button class="hamburger-btn" mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <!-- hamburger vége -->
            <!-- asztali navbar -->
            <a class="logo" href="/kezdolap"><img src="assets/AnimeLogo.webp" alt=""></a>
            <nav class="navigation" fxHide.sm fxHide.xs>
                <a class="nav-link" routerLink="/kezdolap" routerLinkActive="active-route">Kezdőlap</a>
                <section class="animek">
                    <a class="nav-link" routerLink="/animek" routerLinkActive="active-route">Animék</a>
                    <mat-icon class="expand" routerLink="/animek">expand_more</mat-icon>
                    <div class="dropdown">
                        <a class="dropdown-link" href="animek/futo_sorozatok">Aktuális szériák</a>
                        <a class="dropdown-link" href="animek/befejezett_sorozatok">Befejezett sorozatok</a>
                        <a class="dropdown-link" href="animek/filmek">Filmek</a>
                    </div>
                </section>
            </nav>
            <div class="searchbar" fxHide.sm fxHide.xs>
                <input class="search-input" id="search-input" type="text" [(ngModel)]="searchInput"  placeholder="cím...">
                <a class="search-btn" [href]="'/kereses/'+searchInput"><mat-icon>search</mat-icon></a>
            </div>
            <section class="user-action">
                <mat-icon class="user-icon" *ngIf="!loggedInUser" (click)="show()" title="bejelentkezés">login</mat-icon>
                <div class="user-dropdown">
                    <p class="login-error" id="login-error">Hibás email vagy jelszó!</p>
                    <div class="login-form" *ngIf="!loggedInUser">
                        <mat-form-field>
                            <mat-label>Email: </mat-label>
                            <input matInput type="email" id="email" [formControl]="email" required (focus)="inputWatcher()">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Jelszó: </mat-label>
                            <input matInput type="password" id="password" [formControl]="password" required (focus)="inputWatcher()">
                        </mat-form-field>
                        <div class="user-buttons">
                            <div>
                                <span>Még nem regisztráltál? </span>
                                <a href="/regisztracio">Katt ide</a>
                            </div>
                            <button class="login-button" (click)="login()">belépés</button>
                        </div>
                    </div>
                </div>
                <img class="profile-icon" [src]="profilePic" alt="" *ngIf="loggedInUser" title="profil" (click)="navigateToProfil()">
            </section>
            <!-- asztali navbar vége -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>


