<mat-sidenav-container>
    <!-- mobil navbar -->
    <mat-sidenav #sidenav>
        <app-menu (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
    </mat-sidenav>
    <!-- mobil navbar vége -->
    <mat-sidenav-content>
        <mat-toolbar class="header" id="header">
            <!-- hamburger menu gomb mobilra -->
            <div fxHide.gt-sm>
                <button class="hamburger-btn" mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <!-- hamburger vége -->
            <!-- asztali navbar -->
            <div class="logo">anime online</div>
            <nav class="navigation" fxHide.sm fxHide.xs>
                <a class="nav-link" routerLink="/kezdolap" routerLinkActive="active-route">kezdőlap</a>
                <a class="nav-link" routerLink="/animek" routerLinkActive="active-route">animék</a>
            </nav>
            <!-- asztali navbar vége -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

