mat-sidenav-container {
    background: transparent;
}

mat-sidenav { background: #342b2b; }

.header {
    padding-inline: 20vw;
    background: #342b2b;
}

.hamburger-btn { margin-right: 1rem; }

.hamburger-btn mat-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to bottom right, var(--white), var(--orange));
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    margin-block: 1rem;
}

.navigation {
    margin-left: 3rem;
    display: flex;
    gap: 2rem;
}

.nav-link {
    font-size: 1.25rem;
    text-decoration: none;
    padding-block: 1rem;
    transition: all .3s;
    position: relative;
}

.nav-link::first-letter { text-transform: uppercase; }

.nav-link::after {
    content: '';
    position: absolute;
    bottom: .5rem;
    left: 0;
    height: .25rem;
    width: 100%;
    background: var(--orange);
}

.nav-link::after {
    transform: scaleX(0);
    transition: all .3s;
}

.nav-link:hover::after, .active-route::after {
    transform: scaleX(1);
}

    /* searchbar */
.searchbar {
    position: relative;
    margin-left: 3rem;
    background: var(--white);
    border-radius: 25px;
}

.search-input {
    color: var(--black);
    font-size: 1.2rem;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    width: 80%;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    background: var(--black);
    display: inline-block;
    padding: .3rem .7rem;
    border-radius: 25px 0 0 25px;
    transform: translateX(-5px);
}

.search-btn mat-icon {
    color: var(--white);
    position: relative;
    top: 6px;
    left: 2px;
}
.search-btn:hover mat-icon {
    color: var(--orange);
}


@media (max-width: 1200px) {
    .header {
        padding-inline: 10vw;
    }
}

@media (max-width: 959px) {
    .header {
        padding-inline: 1rem;
    }
}
