<div class="container">

    <header class="header">
        <h1 class="title">animék magyarul</h1>
    </header>
    <main>
        <h2 class="series-title">Sorozatok</h2>
        <section class="anime-list">
            <app-anime-card class="single-anime" *ngFor="let anime of animeSeries" [anime]="anime"></app-anime-card>
        </section>
        <h2 class="series-title movies-title">Filmek</h2>
        <section class="anime-list movies">
            <app-anime-card class="single-anime" *ngFor="let anime of animeMovies" [anime]="anime"></app-anime-card>
        </section>
    </main>

</div>
