.header {
    height: 40vh;
    background: url("../../../assets/header_your_name.jpg");
    background-position-y: -10vh;
    background-size: cover;
}


.not-found { text-align: center; }

h1, p { font-size: 3rem; }

h1 { margin-top: 5rem; }

p { padding-top: 1rem; }

.back-button {
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 2.5rem;
    margin-top: 1rem;
    background: #342b2b;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    transition: all 0.3s;
}

.arrow-back {
    position: relative;
    top: -3px;
    left: -6px;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    transition: all .3s;
}

.back-button:hover {
    .arrow-back {
        color: var(--orange);
        transform: translateX(-.5rem);
    }
}



/* reszponzív megjelenés */
@media (max-width: 1330px) {
    .header {
        background-position-y: -5vh;
    }
}

@media (max-width: 1200px) {
    .header {
        background-position-y: initial;
    }
}

@media (max-width: 959px) {
    main > div {
        margin-top: 3rem;
    }
}

@media (max-width: 600px) {
    .header {
        background-position-x: -85vw;
    }

    p {
        padding-top: 1rem;
        line-height: 3.5rem;
        font-size: 3rem;
    }
}

